<div class="pgTitle">Cadastrar Usuário</div>

<form class="myForm" id="addUser" onsubmit="addUsuario(); return false;">
	<div class="field">
		<label>Nome</label>
		<input type="text" name="nome" size="25" required autofocus>
	</div>

	<div class="field">
		<label>Sobrenome</label>
		<input type="text" name="sobrenome" size="25" required>
	</div>

	<div class="field">
		<label>Data Nascimento</label>
		<input type="date" name="dataNasc" required>
	</div>

	<div class="field">
		<label>CPF</label>
		<input type="text" name="cpf" size="25" maxlength="14" onkeyup="CPF(this);" required>
	</div>

	<div class="field">
		<label>CNH</label>
		<input type="text" name="cnh" maxlength="16" size="25" required>
	</div>

	<div class="field">
		<label>Endereço</label>
		<textarea name="endereco" rows="4" cols="27" required></textarea>
	</div>

	<div class="field">
		<label>E-mail</label>
		<input type="email" name="email" size="25" required>
	</div>

	<div class="field">
		<label>Celular</label>
		<input type="text" name="celular" size="25" maxlength="15" onkeyup="TEL(this);" required>
	</div>

	<button class="bt">Salvar</button>

</form>